---
layout: default
---
<!-- Présentation responsive du site Web -->
<h1>Accompagnement dans la démarche RGPD - DPO externalisé - Paris - Lyon - Grenoble</h1>
<div class="w3-row-padding">
  <div class="w3-third">
    <h2>Accompagnement</h2>
    <p>Nous accompagnons les entreprises de toutes tailles (TPE, PME, ETI) dans la démarche RGPD.</p>
    <p>Nous pouvons devenir le cas échéant leur Délégué à la Protection des Données (DPO) externe.</p>
    <a href="{{ site.baseurl }}/accompagnement-rgpd/" class="read-more">En savoir plus...</a>
  </div>

  <div class="w3-third">
    <h2>Expertises</h2>
    <p>Vous bénéficiez de nos expertises métiers, notamment dans les domaines du <a href="{{ site.baseurl }}/editeur-logiciel-rgpd/" >logiciel</a> ou de la <a href="{{ site.baseurl }}/etablissement-sante-rgpd/" >santé</a>.</p>
    <p>Nous sommes aussi partenaires auditeurs de <a href="{{ site.baseurl }}/avocat-rgpd-dpo/" >cabinets d'avocats</a> ou de <a href="{{ site.baseurl }}/expert-comptable-rgpd-dpo/" >cabinets d'expert comptables</a>.</p>
  </div>

  <div class="w3-third">
    <h2>Proximité</h2>
    <p>Nous devons pouvoir vous rencontrer afin d'avoir plus qu'une connaissance théorique de votre entreprise.</p>
    <p>Nos agences RGPD sont au plus proche de nos clients, à  <a href="{{ site.baseurl }}/agence-rgpd-dpo-paris/" >Paris</a>,  <a href="{{ site.baseurl }}/agence-rgpd-dpo-lyon/" >Lyon</a> ou  <a href="{{ site.baseurl }}/agence-rgpd-dpo-grenoble/" >Grenoble</a>.</p>
  </div>
</div>

<h2>Articles sur le RGPD</h2>
<hr>

<!-- This loops through the paginated posts -->
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Lire la suite</a>
    </article>
  {% endfor %}
</div>

<hr>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  Articles sur le RGPD :
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Précédent</a>
  {% else %}
    <span>&nbsp;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Suivant &raquo;</a>
  {% else %}
    <span>&nbsp;</span>
  {% endif %}
</div>
{% endif %}
